In [1]:
import pandas as pd

In [11]:
df_result_glosa = pd.read_csv("/home/annap/Documents/chatbot-project/EVAL/DATASETS/MMLU/06_mmlu_gloss_results.csv")
df_result_glosa = df_result_glosa[['ID', 'GLOSA']]
df_result_glosa.head(1)

    ID                                              GLOSA
0  0Q1  GRAU ENCONTRAR EXTENSÃO CAMPO Q RAIZ QUADRADA ...

In [25]:
# Extraindo número e letras separadamente
df_result_glosa[['TIPO', 'TIPO_LINHA']] = df_result_glosa['ID'].str.extract(r'([A-Za-z]+)(\d+)', expand=True)
df_result_glosa = df_result_glosa.astype({'ID_LINHA': int, 'TIPO_LINHA':int})
df_result_glosa.head(1)

,ID,GLOSA,ID_LINHA,TIPO,TIPO_LINHA
0,0Q1,GRAU ENCONTRAR EXTENSÃO CAMPO Q RAIZ QUADRADA ...,1,Q,1

In [29]:
Q1 = df_result_glosa[ df_result_glosa['TIPO'] == 'Q']
Q1.shape

(15313, 5)

In [34]:
C1 = df_result_glosa[ (df_result_glosa['TIPO'] == 'C') & (df_result_glosa['TIPO_LINHA'] == 1)]
C1.shape

(15427, 5)

In [35]:
C2 = df_result_glosa[ (df_result_glosa['TIPO'] == 'C') & (df_result_glosa['TIPO_LINHA'] == 2)]
C2.shape

(15429, 5)

In [36]:
C3 = df_result_glosa[ (df_result_glosa['TIPO'] == 'C') & (df_result_glosa['TIPO_LINHA'] == 3)]
C3.shape

(15427, 5)

In [37]:
C4 = df_result_glosa[ (df_result_glosa['TIPO'] == 'C') & (df_result_glosa['TIPO_LINHA'] == 4)]
C4.shape

(15425, 5)

In [38]:
Q1.head()

,ID,GLOSA,ID_LINHA,TIPO,TIPO_LINHA
0,0Q1,GRAU ENCONTRAR EXTENSÃO CAMPO Q RAIZ QUADRADA ...,1,Q,1
1,1Q1,P 1 2 5 4 2 3 S5 ÍNDICE ENCONTRAR P S5.,1,Q,1
2,2Q1,ZERO TODOS ENCONTRAR CAMPO FINITO INDICADO POL...,1,Q,1
3,3Q1,AFIRMAÇÃO 1 GRUPO FATORES GRUPO NÃO-ABELIANO N...,1,Q,1
4,4Q1,PRODUTO ENCONTRAR POLINÔMIO ANEL POLINÔMIO F X...,1,Q,1

In [39]:
df_mmlu = pd.read_csv("/home/annap/Documents/chatbot-project/EVAL/DATASETS/MMLU/0_mmlu.csv")
df_mmlu.loc[0, 'question']

'Find the degree for the given field extension Q(sqrt(2), sqrt(3), sqrt(18)) over Q.'

In [40]:
df_mmlu.loc[0]

Unnamed: 0                                                      0
question_id                                                     0
question        Find the degree for the given field extension ...
subject                                          abstract_algebra
answer                                                          1
choice_1                                                        0
choice_2                                                        4
choice_3                                                        2
choice_4                                                        6
is_duplicate                                                False
Name: 0, dtype: object